/* Style the links inside the pill navigation menu */

#navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
  }
  body, html {
    height: 100%;
  }
  
  #section1 {
    border-style: groove;
    border-color: rgb(192, 255, 206);
    border-width: medium;
    text-align: left;
  }

  .lærer {
    border-radius: 30%;
  }
  
  .robot {
    border-radius: 75%;
  }

  /* mus over */
  #navbar a:hover {
    background-color: white;
    color: #25e2e8;
    
  }
  
  
  
  #Hvem_er_vi {
    background-color:#FFFFFF;
    align-content: left;
  }
 

#section7 {
  background-color: rgba(76, 167, 202, 0.753);
}

#Kontaktinfo {
  color: black;
}

#rightKontaktinfo {
  text-align: right;
}
#Timeplan {
  color: black;
  align-content: left;
  text-align: left;
  }

  
  #Utplassering {
    background-color:#FFFFFF;
    text-align: left;
  }

  #Realfagskompetanse {
    background-color:#FFFFFF;
    text-align: left;
  }

  #Litt_om_elektro-fagene {
    background-color:#FFFFFF;
    text-align: left;
  }

  #Utplassering {
    background-color:#FFFFFF;
    text-align: left;
  }

  .container {
    width: 500px;
    height: 400px;
    background: linear-gradient(
      to right,
      blue 0%
      blue 50%
      black 50%
      black 100%

    );
    
  }


  .image-selector {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
  
/*tabell*/
  tr:nth-child(even) {
    background-color: #68cc2eb2;
  }

  table, th, td {
    border: 1px solid black;
  }
  
  /* bare for underoverskrifter*/
  h1,h2,h3,h4 {
  <style>
  .vl {
    border-left: 2px solid purple;
    height: 700px;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top 0;
  }
  </style>
  #navbar {
    position: fixed;
    top: 0;
    background-color: white;
  }
  <div class="vl"></div>
  body {
      background-color: white;
      color: black;
      text-align: justify;
      margin: 1em;
  }
  
  /*for overskrift*/
  h1 {
      background-color: white;
      color: #2545e8;
  }
      
  /* bare for underoverskrifter*/	
  h2,h3,h4 {
      font-family: arial, helvetica, sans-serif;
      background-color: white;
      color: #54b8b1;
  }
  
  
  
